#first-card.mat-card{

    padding: 0;
}

.mat-card {
border-radius: 32px;
margin: 10px 10px;
padding: 20px;
border-color:rgb(0, 0, 0);
}



.mat-card#first-card {
padding: 0;
}

div#profile-background{

    display:flex;
    
}

div#profile-background img{

border-radius: 50px;
width:100%;
border-radius: 30px 30px 0px 0px


}

.profile-image{
   
    border-radius: 50px;
    width: 152px;
    height: 152px;
    margin-top: -110px;
    z-index: 1;
}

div#info-actions{

    display: flex;
}

div#info-data ul#info-details{

    width: 232px;
    list-style:none;
    flex-shrink: 0;
}


div#info-data ul#info-details li a{
    color:black;
    display: flex;
    text-decoration: none;
}
div#info-data ul#info-details li a h2{

     font-size: 1rem;
     font-weight: 500;
     align-self: center;
     vertical-align: baseline;
}
div#info-data ul#info-details li a img{
      
    width: 32px;
    height: 32px;
    margin-right: 8px;

}

ul.items-list{

    list-style: none inside;

}


ul.items-list li{

    display: flex;
    margin: 10px 0;

}

ul.items-list li div.data-container{

    flex-grow: 1;
}

ul.items-list li div.data-container a{

    display: flex;
    color: black;
    text-decoration: none;
}





dl, ol, ul {

    margin-top: 0;
    margin-bottom: 1rem;
}

ol,ul{

    padding-left: 2rem;
}

