.mat-card#first-card{

    padding: 0;
}

.mat-card {
border-radius: 32px;
margin: 20px 150px;
padding: 25px;
border-color:rgb(0, 0, 0);
display:flex;
}



div#profile-background{

    display:flex;
    
}

div#profile-background img{

border-radius: 50px;
width:100%;
border-radius: 30px 30px 0px 0px


}

.secciones-image{
   
  
    width: 50px;
    height: 50px;
    border-radius: 9px;
      display:flex;
}

.arg-image{
   
  
    width: 30px;
    height: 30px;
    
      display:flex;
}


.redes-image{
   
  
    width: 120px;
    height: 30px;
    z-index: 1;
      display:flex;
}

.profile-image{
   
    border-radius: 50px;
    width: 152px;
    height: 152px;
    margin-top: -110px;
    z-index: 1;
    
}

div#info-actions{

    display: flex;
}



div#info-data ul#info-details {

    list-style:none;
    border: 1px;
    display: inline-block;
    width: auto;
    margin: auto;
    text-align: right;
    

}



div#info-data ul#info-details li a{

    color:black;
    display: flex;
    text-decoration: none;
   
  
}


div#info-data ul#info-details li a h2{

     font-size: 1rem;
     font-weight: 500;
     align-self: center;
     vertical-align: baseline;
        
}


div#info-data ul#info-details li a img{
      
    width: 70px;
    height: 70px;
    margin-right: 20px;
    
 }   
 
 div#info-company{

text-decoration-color: blue;

 }   



ul.items-list{

    list-style: none inside;

}


ul.items-list li{

    display: flex;
    margin: 10px 0;

}

ul.items-list li div.data-container{

    flex-grow: 1;
}

ul.items-list li div.data-container a{

    display: flex;
    color: black;
    text-decoration: none;
}


.progress{
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
	 border: 15px solid #f2f5f5;
   
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    border-width: 15px;
    border-style: solid;
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    top: 0;}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
   font-size: 24px;
    color: rgb(250, 245, 245);
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
}
.progress.blue .progress-bar{
    border-color: #049dff;
}
.progress.blue .progress-value{
    color: #049dff;
}
.progress.blue .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.yellow .progress-bar{
    border-color: #fdba04;
}
.progress.yellow .progress-value{
    color: #fdba04;
}
.progress.yellow .progress-left .progress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}
.progress.pink .progress-bar{
    border-color: #ed687c;
}
.progress.pink .progress-value{
    color: #ed687c;
}
.progress.pink .progress-left .progress-bar{
    animation: loading-4 0.4s linear forwards 1.8s;
}
.progress.green .progress-bar{
    border-color: #1abc9c;
}
.progress.green .progress-value{
    color: #1abc9c;
}
.progress.green .progress-left .progress-bar{
    animation: loading-5 1.2s linear forwards 1.8s;
}
@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}